<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app='myApp'>
    <head>
        <title>HTML5 App</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <style type="text/css" media="screen">
            @import url('css/style.css');
            /*@import url('css/style.css') screen;
            @import 'css/style.css' */;
            /*h1 { color: red; font-family: Arial; font-size: large; }
            p { color: black; font-family: Verdana; }
            /*p { color: gray; font-family: Verdana; font-size: medium; }*/
        </style>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular.min.js"></script>
        <script src="ng-app.js"></script>
        <!--link rel="stylesheet" type="text/css" href="css/style.css" media="screen" /-->
    </head>
    <body>
        <h1>Titular de la página <span>Informativa</span></h1>
        <hr/>
        <div>
            <p id="destacado">ID = destacado - Lorem ipsum dolor sit amet...</p>
            <p>Nunc sed lacus et <a href="#" class="destacado">est adipiscing</a> accumsan...</p>
            <p>Class aptent taciti <em class="destacado">sociosqu ad</em> litora...</p>
            <span class="error">...</span>
            <div class="aviso">...</div>
            <!--h1><font color="red" face="Arial" size="5">Titular de la página</font></h1-->
            <!--div>Ut urna ultricies rhoncus in? Dis montes vel lectus? Diam sociis massa! Cras! Duis. Est urna mus porttitor aliquam!</div>
            <div>Nunc natoque! Ac mid, urna sit natoque placerat a? Pulvinar mus, ac vel! </div-->
        </div>
        <hr/>
        <div>
            <p>Un párrafo de texto no muy largo.</p>
            <p><span><a href="#">Enlace</a></span></p>
            <p><a href="#">Enlace</a></p>
            <p class="especial destacado error">Lorem ipsum dolor sit amet...</p>
            <p>Nunc sed lacus et est adipiscing accumsan...</p>
            <p>Class aptent taciti sociosqu ad litora...</p>
            <p><font color="gray" face="Verdana" size="2">Un párrafo de texto no muy largo.</font></p>
            <p>Tempor ac urna lacus velit augue lorem et magna augue scelerisque, porta dapibus ultricies, pulvinar? Augue porttitor platea, porta odio? Adipiscing eros nec tortor, dis et mattis sed, magna cras, et etiam, sit et cursus vut dignissim scelerisque magnis eros sed mauris tristique nisi lectus eros odio tincidunt eu hac.</p>
            <p>Cras et sociis, mus cum montes porttitor cursus aenean. Vel hac pid, elit nunc sit, augue dictumst, odio scelerisque cras aliquam. Porttitor augue porta pellentesque pid enim scelerisque aliquam. Augue et ac? Elementum tortor odio massa cursus eros est aliquet lacus. Porta non est egestas, facilisis duis, ultrices, sit.</p>
            <p>Purus aliquam mauris porta, integer tempor integer duis tristique amet integer! Augue vut non cras cum platea! Dolor arcu. Adipiscing ultrices phasellus egestas pellentesque, in, porttitor montes nec, ultricies, ac, nunc nascetur? Augue ridiculus, tincidunt? Velit urna! In nec! Turpis sagittis magna vel, nascetur porttitor tortor, adipiscing sit elit.</p>
        </div>
        <hr/>
        <div>
            <p>Ridiculus diam sagittis sed pulvinar <span>augue est massa.</span></p>
            <p><span>Texto1</span></p>
            <p><a href="#"><span>Texto2</span></a></p>
            <!--ul>
                <li>Tempor ac urna lacus velit augue lorem et magna augue scelerisque, porta dapibus ultricies, pulvinar?</li>
                <li>ultricies, ac, nunc nascetur? Augue ridiculus, tincidunt? Velit urna! In nec!</li>
                <li>Augue et ac? Elementum tortor odio massa cursus eros est aliquet lacus.</li>
            </ul-->
            <label>Name:</label>
            <input type="text" ng-model="yourName" placeholder="Enter a name here">
            <h3 ng-show="yourName">Hello {{yourName}}!</h3>
        </div>
        <hr/>
        <div ng-init="quantity = 1;
                cost = 2">
            <b>Invoice:</b>
            <div>Quantity: <input type="number" min="0" ng-model="quantity" /></div>
            <div>Cost: <input type="number" min="0" ng-model="cost" /></div>
            <div><strong>Total: </strong>{{ quantity * cost | currency }}</div>
        </div>
        <hr/>
        <div ng-controller="InvoiceController as invoice">
            <b>Invoice controlled:</b>
            <div>Quantity: <input type="number" min="0" ng-model="invoice.quantity" required /></div>
            <div>Cost: <input type="number" min="0" ng-model="invoice.cost" required />
                <select ng-model="invoice.inCurr">
                    <option ng-repeat="c in invoice.currencies">{{c}}</option>
                </select>
            </div>
            <div>
                <strong>Total: </strong>
                <div ng-repeat="c in invoice.currencies">
                    {{ invoice.total(c) | currency:c }}
                </div>
                <button ng-click="invoice.pay()">Pay</button>
            </div>
        </div>
        <hr/>
    </body>
</html>
