<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>HTML5 App</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <style type="text/css" media="screen">
            @import url('css/style.css');
            /*@import url('css/style.css') screen;
            @import 'css/style.css' */;
            /*h1 { color: red; font-family: Arial; font-size: large; }
            p { color: black; font-family: Verdana; }
            /*p { color: gray; font-family: Verdana; font-size: medium; }*/
        </style>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular.min.js"></script>
        <script src="ng-services.js"></script>
        <script src="ng-app.js"></script>
        <!--link rel="stylesheet" type="text/css" href="css/style.css" media="screen" /-->
    </head>
    <body ng-app='myApp'>
        <div class='container'>
            <div class='pull-right'>
                <h1>HTML5 <span>App</span> <small>(Lab)</small></h1>
                <ul class="list-inline">
                    <li><a href='controllers.html'>Controllers</a></li>
                    <li><a href='services.html'>Services</a></li>
                </ul>
            </div>
            <div class='clearfix'></div>
            <hr/>
            <div class='container'>
                <div class='row'>
                    <div class="col-md-4">
                        <p class='text-capitalize' id="destacado"><abbr title='Identificator'>ID</abbr> = destacado - Lorem ipsum dolor sit amet...</p>
                    </div>
                    <div class="col-md-2 aviso">...</div>
                    <div class="col-md-4">
                        <p><mark>Nunc</mark> sed lacus et <a href="#" class="destacado">est adipiscing</a> accumsan...</p>
                        <p>Class aptent taciti <em class="destacado">sociosqu ad</em> litora...</p>
                    </div>
                    <div class="col-md-2"><span class="error">...</span></div>
                    <!--h1><font color="red" face="Arial" size="5">Titular de la página</font></h1-->
                    <!--div>Ut urna ultricies rhoncus in? Dis montes vel lectus? Diam sociis massa! Cras! Duis. Est urna mus porttitor aliquam!</div>
                    <div>Nunc natoque! Ac mid, urna sit natoque placerat a? Pulvinar mus, ac vel! </div-->
                </div>
            </div>
            <hr/>
            <div class='container'>
                <div class='row'>
                    <div class="col-sm-2">
                        <p class='text-center'>Un párrafo de texto no muy largo.</p>
                        <p><span><a href="#">Enlace</a></span></p>
                        <p><a href="#">Enlace</a></p>
                    </div>
                    <div class="col-sm-2">
                        <p class="especial destacado error">Lorem ipsum dolor sit amet...</p>
                        <p>Nunc sed lacus et est adipiscing accumsan...</p>
                    </div>
                    <div class="clearfix visible-xs-block"></div>
                    <div class="col-sm-8">
                        <p><s>Class aptent taciti sociosqu ad litora...</s></p>
                        <p><font color="gray" face="Verdana" size="2">Un párrafo de texto no muy largo.</font></p>
                        <p>Tempor ac urna lacus velit augue <u>lorem et magna augue scelerisque, porta dapibus ultricies, pulvinar?</u> Augue porttitor platea, porta odio? Adipiscing eros nec tortor, dis et mattis sed, magna cras, et etiam, sit et cursus vut dignissim scelerisque magnis eros sed mauris <strong>tristique nisi lectus</strong> eros odio tincidunt eu hac.</p>
                        <p>Cras et sociis, mus cum <del>montes porttitor cursus aenean</del>. Vel hac pid, elit nunc sit, augue dictumst, odio scelerisque cras aliquam. <small>Porttitor augue porta pellentesque pid enim scelerisque aliquam</small>. Augue et ac? Elementum tortor odio massa <em>cursus eros est aliquet lacus</em>. Porta non est egestas, facilisis duis, ultrices, sit.</p>
                    </div>
                </div>
            </div>
            <hr/>
            <div class='container'>
                <div class='row'>
                    <div class="col-sm-4 col-md-offset-8">
                        <label>Name:</label>
                        <input type="text" ng-model="yourName" placeholder="Enter a name here">
                        <blockquote ng-show="yourName"  class="blockquote-reverse">
                            <p>Hello {{yourName}}!</p>
                            <footer>AngularJS... <cite title='google.com'>Google INC</cite></footer>
                        </blockquote>
                    </div>
                </div>
                <div class='row'>
                    <div class="col-sm-2 text-right">
                        <address>
                            <strong>Twitter, Inc.</strong><br>
                            795 Folsom Ave, Suite 600<br>
                            San Francisco, CA 94107<br>
                            <abbr title="Phone">P:</abbr> (123) 456-7890
                        </address>
                    </div>
                    <div class="col-sm-2 col-md-offset-2">
                        <p><ins>Ridiculus diam sagittis sed</ins> pulvinar <span>augue est massa.</span></p>
                        <p><span>Texto1</span></p>
                        <p><a href="#"><span>Texto2</span></a></p>
                        <!--ul>
                            <li>Tempor ac urna lacus velit augue lorem et magna augue scelerisque, porta dapibus ultricies, pulvinar?</li>
                            <li>ultricies, ac, nunc nascetur? Augue ridiculus, tincidunt? Velit urna! In nec!</li>
                            <li>Augue et ac? Elementum tortor odio massa cursus eros est aliquet lacus.</li>
                        </ul-->  
                    </div>
                </div>
            </div>
            <hr/>
            <div class='container'>
                <div class='row bg-warning'>
                    <div class='col-md-2 bg-primary' ng-init="quantity = 1;
                            cost = 2;">
                        <b>Invoice:</b>
                        <div>Quantity: <input type="number" min="0" ng-model="quantity" /></div>
                        <div>Cost: <input type="number" min="0" ng-model="cost" /></div>
                        <div><strong>Total: </strong>{{ quantity * cost | currency }}</div>
                    </div>
                    <div ng-controller="InvoiceController
                            as
                            invoice">
                        <div class='col-md-3 col-md-offset-2'>
                            <b>Invoice (InvoiceController):</b>
                            <div>Quantity: <input type="number" min="0" ng-model="invoice.quantity" required /></div>
                            <div>Cost: <input type="number" min="0" ng-model="invoice.cost" required />
                                <select ng-model="invoice.inCurr">
                                    <option ng-repeat="c in invoice.currencies">{{c}}</option>
                                </select>
                            </div>
                        </div>
                        <div class='col-md-2'>
                            <button class='btn btn-warning btn-lg btn-block' ng-click="invoice.pay()">Pay</button>
                        </div>
                        <div class='col-md-3'>
                            <strong>Total: </strong>
                            <div ng-repeat="c in invoice.currencies">
                                {{ invoice.total(c) | currency:c }}
                            </div>
                        </div>
                    </div>
                </div>
                <hr/>
                <div class='row'>
                    <div class='col-md-6'>
                        <div class='row bg-info' ng-controller="InvoiceImproveCtrl
                                as
                                invoice">
                            <div class="pull-right">
                                <b>Invoice (InvoiceImproveCtrl):</b>
                            </div>
                            <div class='col-md-3'>Quantity: <input type="number" min="0" ng-model="invoice.quantity" required /></div>
                            <div class='col-md-3'>Cost: <input type="number" min="0" ng-model="invoice.cost" required />
                                <select ng-model="invoice.inCurr">
                                    <option ng-repeat="c in invoice.currencies">{{c}}</option>
                                </select>
                            </div>
                            <div class='col-md-3 col-md-offset-1'>
                                <button class='btn btn-danger btn-sm' ng-click="invoice.pay()">Pay</button>
                            </div>
                            <div class='col-md-3  col-md-offset-3'>
                                <strong>Total: </strong>
                                <div ng-repeat="c in invoice.currencies">
                                    {{ invoice.total(c) | currency:c }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class='col-md-6'>
                        <div class='row bg-danger' ng-controller="InvoiceImproveCtrlHttp
                                as
                                invoice">
                            <b>Invoice (InvoiceImproveCtrlHttp):</b>
                            <div class='col-md-3'>Quantity: <input type="number" min="0" ng-model="invoice.quantity" required /></div>
                            <div class='col-md-3'>Cost: <input type="number" min="0" ng-model="invoice.cost" required />
                                <select ng-model="invoice.inCurr">
                                    <option ng-repeat="c in invoice.currencies">{{c}}</option>
                                </select>
                            </div>
                            <div class='col-md-3 col-md-offset-1'>
                                <button class='btn btn-success btn-xs' ng-click="invoice.pay()">Pay</button>
                            </div>
                            <div class='col-md-3 col-md-offset-3'>
                                <strong>Total: </strong>
                                <div ng-repeat="c in invoice.currencies">
                                    {{ invoice.total(c) | currency:c }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr/>
        </div>
    </body>
</html>
